@use "../../global" as *;
@use "../../partials" as *;

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  border: none;
  @include transparent-button;
  opacity: 1;
  margin: 0;
  padding: 0;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.up-btn {
  opacity: 1;
  padding: size(12);
  // @include border(solid, 1, $primaryText);
}
.createjob-btn {
  @include setBgColor($primary,$white);
  padding: size(6) size(8);
  @include radius(24);
  @include font($primaryFont,12,normal,normal,12);
  @include transitionsbackground;
  @include flex-center;
  gap: size(4);
  @include breakpoint(mobile576) {
  @include font($primaryFont,14,normal,normal,14);
  padding: size(8) size(12);
  gap: size(6);
  }
  @include hover {
    @include setBgColor(darken($primary,20%),white);
  }

}

.pipeline-empty {
  @include setBgColor($headerborder,$headingText);
  display: inline-block;
  width: size(120);
  height: size(36);
  @include radius(8);
  margin-inline: size(4);
  margin-block: size(4);
  @include flex-center;
  @include font($primaryFont,12,normal,normal,14);
  &.one {
    background: #eee3e7;
  }
  &.two {
    background: #ead5dc;
  }
  &.three {
    background:#eec9d2;
  }
  &.four {
    background:#f4b6c2;
  }
  &.five {
    background:#f6abb6;
  }

}
