@use "../../global" as *;
@use "../../partials" as *;

.darkmode {
  background: lighten($black, 10%);

  .header {
    background: $darkPrimary;
    border-color: $lightDark;

    .collapsemenu {
      .btn-toggle {
        border-color: $lightDark;
      }
    }

    &-nav {
      .iconlist {
        &-item {
          .btn-notification {
            svg {
              .circlebg {
                fill: $lightDark;
              }
              .circle {
                stroke: lighten($darkPrimary, 25%);
              }
            }
          }

          .btn-mode,
          .btn-user {
            background: $lightDark;
          }

          .notify,
          .userdropdown {
            background: $lightDark;
          }

          .notify {
            .notification {
              background: $lightDark;

              &-header {
                border-color: lighten($lightDark, 5%);

                .title {
                  color: $textSecondary;
                }

                .btn-clear {
                  color: $textSecondary;
                }
              }

              &-body {
                .emptynotification {
                  &-title {
                    color: $textSecondary;
                  }
                }

                .notificationlist {
                  &-link {
                    background: darken($lightDark, 5%);
                    border-color: lighten($lightDark, 5%);

                    .details {
                      .info {
                        .name {
                          color: $primary;
                        }

                        .text {
                          color: $white;
                        }
                      }

                      .time {
                        color: $textSecondary;
                      }
                    }

                    @include hover {
                      background: $lightDark;
                    }
                  }

                  &::-webkit-scrollbar-thumb {
                    background: lighten($lightDark, 15%);
                  }
                }
              }

              &-footer {
                background: $lightDark;
                border-color: lighten($lightDark, 5%);

                .link {
                  color: $textSecondary;

                  @include hover {
                    color: $primary;
                  }
                }
              }
            }
          }

          .userdropdown {
            .userlist {
              &-link {
                background: $lightDark;
                border-color: lighten($lightDark, 5%);

                .icon {
                  svg {
                    path {
                      fill: $textSecondary;
                    }
                  }
                }
                .text {
                  color: $textSecondary;
                }

                @include hover {
                  background: lighten($lightDark, 15%);
                }
              }
            }
          }
        }
      }
    }
  }

  .sidebar {
    background: $darkPrimary;
    border-color: $lightDark;

    &-header {
      border-color: $lightDark;
    }

    &-body {
      .sidelist {
        &-item {
          &.active {
            .sidelist-link {
              background: $lightDark;

              .icon {
                .fillicon {
                  path {
                    fill: $white;
                  }
                }

                .strokeicon {
                  path {
                    stroke: $white;
                  }
                }
              }

              .text {
                color: $white;
              }
            }
          }

          &:hover:not(.active) {
            .sidelist-link {
              background: $lightDark;

              .icon {
                .fillicon {
                  path {
                    fill: $white;
                  }
                }

                .strokeicon {
                  path {
                    stroke: $white;
                  }
                }
              }

              .text {
                color: $white;
              }
            }
          }
        }

        &-link {
          .text {
            color: $textSecondary;
          }

          svg {
            &.fillicon {
              path {
                fill: $textSecondary;
              }
            }

            &.strokeicon {
              path {
                stroke: $textSecondary;
              }
            }
          }
        }

        .title {
          color: $textSecondary;

          &.active {
            border-color: $lightDark;
          }
        }
      }
    }
  }

  .appmenu {
    background: $darkPrimary;
    border-color: $lightDark;

    .applist {
      &-item {
        &:hover:not(.active) {
          .applist-link {
            .icon {
              .fillicon {
                path {
                  fill: $white;
                }
              }
              .strokeicon {
                path {
                  stroke: $white;
                }
              }
            }

            .text {
              color: $white;
            }
          }
        }

        &.active {
          .applist-link {
            .icon {
              .fillicon {
                path {
                  fill: $white;
                }
              }
              .strokeicon {
                path {
                  stroke: $white;
                }
              }
            }

            .text {
              color: $white;
            }
          }
        }

        .mobdropdown {
          background: $lightDark;

          &-link {
            border-color: $headingText;

            .icon {
              .fillicon {
                path {
                  fill: $textSecondary;
                }
              }
              .strokeicon {
                path {
                  stroke: $textSecondary;
                }
              }
            }

            .text {
              color: $textSecondary;
            }

            @include hover {
              background: $headingText;
            }
          }
        }
      }

      &-link {
        .icon {
          .fillicon {
            path {
              fill: $textSecondary;
            }
          }
          .strokeicon {
            path {
              stroke: $textSecondary;
            }
          }
        }

        .text {
          color: $textSecondary;
        }
      }
    }
  }

  .ph-item {
    background: $darkPrimary;
    border: none;
    &:before {
      background: linear-gradient(
          90deg,
          hsla(0, 0%, 100%, 0) 46%,
          hsla(0, 0%, 43%, 0.212) 50%,
          hsla(0, 0%, 100%, 0) 54%
        )
        50% 50%;
    }
    .ph-row {
      div {
        background: lighten(#15202b, 7%);
      }
      .empty {
        background: transparent;
      }
    }
    .ph-avatar {
      background: lighten(#15202b, 7%);
    }
    .ph-picture {
      background: lighten(#15202b, 7%);
    }
  }

  // AUTHENTICATION DARKMODE
  .authentications {
    background: $lightDark;

    .left-content {
      .sliderbox {
        .swiper-pagination {
          &-bullet {
            &:hover:not(.active) {
              background: $primary;
            }

            &-active {
              background: $primary;
            }
          }
        }
      }
    }

    .right-content {
      background: $darkPrimary;

      .authentic {
        background: lighten($black, 10%);
        border-color: $lightDark;

        .welcome-title {
          color: $white;
        }

        .welcome-text {
          color: $white;
        }

        .forgotinfo {
          .text {
            color: $white;
          }
        }

        .socialauth {
          .btn-socialauth {
            background: $lightDark;
            border-color: lighten($lightDark, 10%);

            .text {
              color: $white;
            }
          }
        }

        .divide {
          .or {
            background: lighten($black, 10%);

            .ortitle {
              color: $white;
            }
          }

          .bar {
            background: lighten($lightDark, 10%);
          }
        }
      }
    }

    .authform {
      .inputbox {
        .inputfield {
          @include setBgColor($lightDark, $white);

          &::placeholder {
            color: $checkborder;
          }
        }

        .employeelist {
          .inputradio {
            .radio {
              &:checked ~ .radiolabel {
                @include setBgColor($primary, $white);
                border-color: $primary;
              }
            }

            .radiolabel {
              @include setBgColor($darkPrimary, $textSecondary);
              @include border(solid, 1, $lightDark);
            }
          }
        }
      }

      .agreebox {
        .agreecheck {
          &:checked ~ .agreelabel {
            &::before {
              background: $primary;
              border-color: $primary;
            }

            &::after {
              opacity: 1;
              visibility: visible;
            }
          }
        }

        .agreelabel {
          color: $textSecondary;

          &::selection {
            @include setBgColor(transparent, $primary);
          }

          &::before,
          &::after {
            content: "";
            position: absolute;
            top: 50%;
          }

          &::before {
            left: 0;
            @include transform(translateY(-50%));
            @include square(16);
            background: $darkPrimary;
            @include border(solid, 2, $lightDark);
            @include radius(3);
          }

          &::after {
            width: size(5);
            height: size(9);
            @include border(solid, 2, $white);
            @include transform(translateY(-60%) rotate(45deg));
            border-top: 0;
            border-left: 0;
            left: size(5.75);
            opacity: 0;
            visibility: hidden;
            @include transitionsall;
          }
        }
      }

      .submitbox {
        .btn-submit {
          @include setBgColor($primary, $white);
        }

        .authtext {
          color: $textSecondary;

          .authlink {
            color: $primary;
          }

          .btn-resend {
            color: $primary;
          }
        }

        .backlink {
          span {
            color: $textSecondary;
          }

          @include hover {
            span {
              color: $primary;

              svg {
                path {
                  stroke: $primary;
                }
              }
            }
          }
        }
      }
    }
  }

  // SETTINGS DARKMODE
  .settings {
    &-header {
      border-color: $lightDark;

      .titlebox {
        .settings-title {
          color: $white;
        }
      }
    }

    &-body {
      .settings-leftcontent,
      .settings-rightcontent {
        background: $darkPrimary;
        // box-shadow: none;

        .infotitle {
          color: $white;
        }
      }

      .settings-leftcontent {
        .leftheader {
          border-color: $lightDark;
        }

        .leftbody {
          .imagebox {
            .imagelabel {
              .labeltext {
                color: $white;
              }
            }

            .uploadbox {
              border-color: $lightDark;

              .uploadlabel {
                .addtext {
                  color: $textSecondary;
                }
              }
            }
          }

          .inputbox {
            .inputlabel {
              color: $white;
            }

            .inputfield {
              @include setBgColor(lighten($black, 10%), $white);
              border-color: $lightDark;

              &:focus {
                border-color: $primary;
                background: transparent;
              }
            }
          }

          .submitbox {
            border-color: $lightDark;
          }
        }
      }

      .settings-rightcontent {
        .rightheader {
          border-color: $lightDark;
        }

        .rightbody {
          .headerinfo {
            .headtitle {
              color: $white;
            }
          }

          .bodyinfo {
            .details {
              .infotext {
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}
