@use '../../global' as *;
@use '../../partials' as *;


.inputbox {
    @include flex-column;
    gap: size(8);

    .inputlabel {
      color: $headingText;
      @include font($primaryFont, 14, medium, normal, 17);
    }

    .inputfield ,.textareafield{
      @include setBgColor($bodybg, $bodybg);
      @include border(solid, 1, $headerborder);
      @include font($primaryFont, 14, medium, normal, 17);
      padding: size(10) size(16);
      @include transitionsall;
      @include radius(8);
        color: $textPrimary;
      &::placeholder {
        color: $textSecondary;
      }

      &:focus {
        border-color: $primary;
      }
    }
 

    .error {
      display: none;

      .error-message {
        color: $danger;
        @include font($primaryFont, 13, medium, normal, 17);
      }
    }

    &.errorfield {
      .inputfield {
        border-color: $danger;
      }
      
      .error {
        display: block;
      }
    }

    &.hiring-manager {
      position: relative;
      
      figure {
        position: absolute;
        @include square(30);
        overflow: hidden;
        @include circle;
        left: size(14);
        top: 48%;
        
        img {
          @include wh100;
          object-fit: cover;
          
          
        }
      }
      .icon {
        position: absolute;
        right: size(14);
        top: 50%;
      }
      .inputfield {
        padding-left: size(50);
        padding-right: size(40);
      }
    }
  }


  .darkmode {
    .inputbox { 
      .inputlabel {
        color: darken($white,10%);
        @include font($primaryFont, 14, medium, normal, 17);
      } 
      .inputfield ,.textareafield{
        @include setBgColor($darkPrimary, $bodybg);
        border-color: #ffffff33;
        
      }
  
    }
  }