@use "../../global" as *;
@use "../../partials" as *;

.pipeline-table {
    overflow-x: scroll;
    // margin-left: 5em;
    overflow-y: visible;
    padding: 0;
    margin-left: 9em;
    @include breakpoint(mobile768) {
        margin-left: 14em;
    }
    &::-webkit-scrollbar {
        height: size(12);
        display: none;
    }
    &::-webkit-scrollbar-track {
        background: #D0D5DD; 
        @include radius(10);
    }
    &::-webkit-scrollbar-thumb {
        background-color: $white;
        @include border(solid,4,transparent);
        border-radius: size(10);
        background-clip: content-box;
    } 

    table {
        border-collapse: collapse;
        border-spacing: 0;
        @include w100;
      }
      
      td,
      th {
        margin: 0;
      
        white-space: nowrap;
        border-top-width: 0px;
      } 
      .headcol {
        position: absolute;
        width: 9em;
        left: size(24);
        top: auto;
        /*only relevant for first row*/
        margin-top: 0px;
        /*compensate for top border*/
        @include flex-column;
        @include breakpoint(mobile768) {
            width: 14em;
        }
        gap: size(8);
        .title {
            color: $headingText;
            @include font($primaryFont,14,medium,normal,14);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: size(4);
        }
        .total {
            color: $textPrimary;
            @include font($primaryFont,12,normal,normal,12);
            b {
                padding-left: size(10);
            }
        }
      } 
      .title-row {
       
        :nth-child(1) {
            text-align: left;
        }
        * {
            color: $textPrimary;
            @include font($primaryFont,12,medium,normal,12);
            padding: 10px 0;
            text-align: center;
        }
      }

} 

#example_filter {
    display: none !important;
   
}

#example {
    width: 100% !important;
}

.table-wrapper {
        @include flex-column;
        margin-top: size(16);
        @include breakpoint(tab992) {
            margin-top: size(24);
        }
        .table-search {
            position: relative;
            .search__icon {
                position: absolute;
                top: 50%;
                left: size(20);
                transform: translateY(-50%);
            }
            input {
                @include w100;
                @include border(solid,1,$tableBorder);
                padding: size(10) size(20);
                border-top-left-radius: size(10);
                border-top-right-radius: size(10);
                @include breakpoint(mobile576) {
                    padding: size(16);
                    padding-left: size(50);
                }

                padding-left: size(50);
            }
        }
    table {
        background: $white;
        border-radius: size(0) size(0) size(10) size(10);
        border-bottom: none !important;
        tr {
            td {
            @include border-single(bottom,solid,1,$tableBorder);
            padding: size(15) size(8);
           
            &:first-child{
              padding: size(15) size(15);
              @include border-single(left,solid,1,$tableBorder);

              &::before {
                display: none !important;
              }
              &::after {
                display: none !important;
              }

            }
            &:last-child{
              @include border-single(right,solid,1,$tableBorder);

            }

            .screening {
                color: hsl(178, 16%, 47%);
            } 
            .design__challenge {
                color: hsl(31, 98%, 62%) ;
            }
            .interview {
                color: hsl(295, 45%, 61%);
            }

            .dropdown {

                .icon {
                    padding: size(10);
                    cursor: pointer;
                }

                &-menu {

                    padding: size(12);
                    border: size(1) solid $headerborder;
                    box-shadow: $box-shadow-1;
                    @include radius(8);

                    .dropdown-items {
                        @include flex-column;
                        align-items: flex-start;
                        .item {
                            padding: size(8) size(0);
                            @include transitionsall;
                            @include font($primaryFont, 13, normal, normal, 18);
                            @include radius(6);
                            user-select: none;
                            color: $textPrimary;
                            text-align: center;
                            @include w100;
                            @include hover {
                                background: $headerborder;
                            }
                        }

                    }
                }
            }
        }
        .userimage__wrapper {
            @include flex;
            gap: size(5);
          .userimage__thumb {
            @include square(30);
            @include circle;
            overflow: hidden;
            @include transitiontransform;
            @include hover {
                transform: scale(1.1);
            }
            img {
                @include wh100;
                object-fit: cover;

            }
          }
        }
        }
    }
}