@use "../../global" as *;
@use "../../partials" as *;

.jobcard {
    background: $white;
    display: inline-block;
    @include radius(10);
    padding: size(25);
    box-shadow: $box-shadow-1;
    @include w100;
    @include transitionsall;
    @include breakpoint(mobile768) {
        width: auto;
    }
    &-header {
        @include flex-between;
        gap: size(40);
        @include border-single(bottom, solid, 1, $headerborder);
        padding-bottom: size(16);

        .left {
            @include flex-column;
            gap: size(12);
            align-items: baseline;

            .badge {
                background: lighten($success,50%);
                @include radius(16);
                color: $success;
                @include font($primaryFont, 12, medium, normal, 24);
                padding: size(2) size(12);

                &.badge-purple{
                    @include setBgColor($purpleLight,$purple);
                }

                &.badge-success {
                    @include setBgColor($successlight,$success);
                    
                }

                &.badge-cyan {
                    @include setBgColor($electriccyanlight,$electriccyan);
                        
                }
                &.badge-orange {
                    @include setBgColor($orangeLight,$orange);

                }

            }

            .jobname {
                color: $headingText;
                @include font($primaryFont, 16, medium, normal, 20);
                max-width: size(250);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                @include breakpoint(mobile414) {
                    @include font($primaryFont, 18, medium, normal, 20);

                }

                @include breakpoint(tab992) {
                    @include font($primaryFont, 20, medium, normal, 20);
                }

            }

            .jobtypes {
                @include flex;
                align-items: center;
                gap: size(10);

                .type {
                    @include flex;
                    gap: size(6);
                    align-items: center;
                    @include font($primaryFont, 9, medium, normal, 18);
                    text-transform: uppercase;
                    color: $textSecondary;

                    @include breakpoint(mobile414) {
                       @include font($primaryFont, 11, medium, normal, 18);
                        
                    }
                }
            }
        }

        .right {
            .dropdown {

                .icon {
                    padding: size(10);
                    cursor: pointer;
                }

                &-menu {

                    padding: size(12);
                    border: size(1) solid $headerborder;
                    box-shadow: $box-shadow-1;
                    @include radius(8);

                    .dropdown-items {
                        @include flex-column;
                        align-items: flex-start;
                        .item {
                            padding: size(8) size(10);
                            @include transitionsall;
                            @include font($primaryFont, 13, normal, normal, 18);
                            @include radius(6);
                            user-select: none;
                            color: $textPrimary;
                            @include w100;
                            @include hover {
                                background: $headerborder;
                            }
                        }

                    }
                }
            }
        }
    }

    &-body {
        @include border-single(bottom,solid,1,$headerborder);
        padding-bottom: size(20);
        .applicant-header {
            @include flex;
            align-items: center;
            gap: size(7);
            color: $textSecondary;
            padding: size(14) size(0);

            span {
                @include font($primaryFont, 12, medium, normal, 17);

            }

        }

        .applicants-wrapper {
            background: $headerborder;
            @include radius(10);
            padding: size(24);
            @include flex;
            justify-content: space-around;

            .applicatn {
                @include flex-column;
                align-items: center;
                gap: size(8);

                .count {
                    @include font($primaryFont, 20, medium, normal, 26);
                    color:$headingText;
                }
                .title {
                    color: $textSecondary;
                    @include font($primaryFont, 12, medium, normal, 15);

                }
            }
        }
    }

    &-footer {
        @include flex-between;
        padding-top: size(10);
        .footerleft {
            @include flex;
            align-items: flex-start;
            gap: size(8);
            span {
                &.text {
                    @include font($primaryFont, 14, medium, normal, 22);
                    
                }
            }
        }

        .footerright {
            cursor: pointer;
            color: $textPrimary;
            @include font($primaryFont, 14, medium, normal, 22);
            @include transitionsall;
            @include hover {
                color: darken($textPrimary,20%);
            }

        }
    }

    &.activecard {
        @include border-single(top, solid, 4, $success);

    }

    &.draftcard {
        @include border-single(top, solid, 4, $checkborder);

    }
    &.inactivecard {
        @include border-single(top, solid, 4, $danger);

        .jobcard-header {
            align-items: flex-start;
        }


    }

    @include hover {
        transform: translateY(size(-8));
    }

}

.review__header-card {
    padding: size(16);
    background-color: $white;
    @include radius(8);
    @include flex-between;
    @include border-single(top,solid,4,$primary);
    color: $headingText;
    @include font($primaryFont, 16, medium, normal, 20);

    .count {
        height: size(20);
        width: size(30);
        @include flex-center;
        @include radius(100);
        @include setBgColor($primaryLight,$headingText);
        @include font($primaryFont, 14, medium, normal, 20);

    }
} 
.review__card {
    background: $white;
    @include radius(8);
    @include border(solid,1,$headerborder);
    padding: size(10) size(10) size(14) size(10);
    @include flex-column;
    gap: size(6);
    .name {
        color: $headingText;
        @include font($primaryFont, 12, medium, normal, 20);
        text-overflow: ellipsis;
        overflow: hidden;

    }
    .gmail {
        color: $textPrimary;
        @include font($primaryFont, 12, medium, normal, 20);
        text-overflow: ellipsis;
        overflow: hidden;

    }

    .review-footer {
        @include flex-between;
        @include border-single(top,solid,1,$headerborder);
        margin-top: size(10);
        .stars {
            @include flex;
            gap: size(4);
            
           
        }
        .time {
          @include font($primaryFont, 10, medium, normal, 16);
          color: $textPrimary;

        }
    }
} 

.review__drag-card {
    @include border(dashed,2,$checkborder);
    background: $headerborder;
    padding: size(30);
    @include flex-center;
    @include radius(8);
    .content {
        @include flex-column;
        align-items: center;
        color:  hsl(218, 15%, 65%);
        gap: size(4);

    }

}



.darkmode {

    .jobcard {
        background: $lightDark;

        &-header {
            border-color: $headingText;
            .left {
    
                .badge {
                    background: lighten($success,50%);
                    color: $success;
                 
    
                    &.badge-purple{
                        @include setBgColor($purpleLight,$purple);
                    }
    
                    &.badge-success {
                        @include setBgColor($successlight,$success);
                        
                    }
    
                    &.badge-cyan {
                        @include setBgColor($electriccyanlight,$electriccyan);
                            
                    }
                    &.badge-orange {
                        @include setBgColor($orangeLight,$orange);
    
                    }
    
                }
    
                .jobname {
                    color: $white;
                }
    
                .jobtypes {
                    
    
                    .type {
                        color: darken($white,20%);
                    }
                }
            }
    
            .right {
                .dropdown {
                    &-menu {
                        border-color: $headingText;
                        background: $lightDark;
                        box-shadow: $box-shadow-1;
                        .dropdown-items {
                            .item {
                                color: darken($white,20%);
                                @include hover {
                                    background: $shade-1;
                                }
                            }
    
                        }
                    }
                }
            }
        }

        &-body {
           border-color: $headingText;
            padding-bottom: size(20);
            .applicant-header {
                @include flex;
                align-items: center;
                gap: size(7);
                color: darken($white,20%);
                padding: size(14) size(0);
    
                span {
                    @include font($primaryFont, 12, medium, normal, 17);
    
                }
    
            }
    
            .applicants-wrapper {
                background: $headingText;
    
                .applicatn {
                    .count {
                        color:$white;
                    }
                    .title {
                        color: $white;
                    }
                }
            }
        } 

        &-footer {
            .footerleft {
                svg {
                    path {
                        stroke: darken($white,20%);
                        
                    }
                }
                span {
                    &.text {
                        @include font($primaryFont, 14, medium, normal, 22);
                        color: darken($white,20%);
                        
                    }
                }
            }
    
            .footerright {
                color: darken($white,20%);
                svg {
                  path {
                    stroke: darken($white,20%);
                  }
                }
                @include hover {
                    color: $white;
                }
    
            }
        }
    }
    .review__header-card {
        background: $lightDark;
        color: $white;
    }

    .review__card {
        background: $lightDark;
        border-color: $headingText;

        .name {
            color: darken($white,20%);
            
        }
        .gmail {
            color: darken($white,20%);

        }
        .review-footer {
            border-color: $headingText;

            .stars {
                @include flex;
                gap: size(4);
                
               .empty {
                svg {
                    path {
                        fill: darken($white,20%);
                    }
                }
               }
               
            }
            .time {
              color: darken($white,30%);
    
            }
        }
    }
}