// DEFAULT COLORS
$bodybg: hsl(240, 23%, 97%); //#F7F7FA
$white: hsl(0, 0%, 100%); //#ffffff
$black: hsl(0, 0%, 0%); //#000000

// THEME-COLORS
$primary: hsl(228, 100%, 65%); //#4C6FFF

// BACKGROUND-COLORS
$success: hsl(152, 82%, 39%); //#12B76A
$danger: hsl(4, 86%, 58%); //#F04438
$offcanvasbg:hsl(214, 100%, 99%); //#F8FBFF

// TEXT-COLORS
$headingText: hsl(219, 18%, 22%); //#2F3643 
$textPrimary: hsl(221, 13%, 46%); //#667085
$textSecondary: hsl(218, 15%, 65%); //#98A2B3
$textgray:hsl(218, 24%, 27%); //#344054

// BORDER-COLORS
$headerborder: hsl(220, 17%, 93%); //#EAECF0
$checkborder: hsl(217, 16%, 84%); //#D0D5DD
$btndarkborder: hsl(217, 16%, 84%); // #D0D5DD


// SHADOWS
$shade-1: rgba(102, 112, 133, 0.05);

// BOX-SHADOWS
$box-shadow-1: 0.25rem 0.25rem 0.25rem $shade-1;


// DARK-MODE
$darkPrimary: hsl(200, 6%, 9%); //#161819
$lightDark: hsl(204, 6%, 17%); //#292C2D


