// DEFAULT COLORS
$bodybg: hsl(240, 23%, 97%); //#F7F7FA
$white: hsl(0, 0%, 100%); //#ffffff
$black: hsl(0, 0%, 0%); //#000000

// THEME-COLORS
$primary: hsl(228, 100%, 65%); //#4C6FFF

// BACKGROUND-COLORS
$danger: hsl(4, 86%, 58%); //#F04438

// TEXT-COLORS

// BORDER-COLORS

// SHADOWS

// BOX-SHADOWS
