@use "../../global" as *;
@use "../../partials" as *;

.calendar-popup {
  background: $white;
  @include radius(4);
  box-shadow: 0 size(8) size(24) rgba($black, 0.08);
  display: none;
  padding: size(10);
  position: absolute;
  top: calc(100% + size(5));
  transition: all 0.1s linear;
  width: 100%;
  z-index: 20;
  @extend %animation;
  @extend %slideUpIn;

  .month-and-year {
    @include flex-center-vert;
    text-align: center;
    text-transform: uppercase;

    h4 {
      width: 100%;
    }
  }

  .button {
    background-color: transparent;
    border: none;
    font-weight: bold;
    outline: none;
    position: absolute;
    top: size(15);

    &:hover {
      cursor: pointer;
    }

    &.prev {
      left: size(10);
    }

    &.next {
      right: size(10);
    }
  }

  table {
    font-size: size(12);
    width: 100%;
    margin-top: size(8);

    tr {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      padding: 0.3125rem 0;

      th,
      td {
        text-align: center;
      }
    }

    .day {
      &:hover {
        cursor: pointer;
        color: $green;
      }
    }
  }
}
