@use "../global" as *;
@use "../partials" as *;

/**======= HOME-BANNER =======**/

.dashboard {
    padding: size(14) size(14) size(0) size(14);
    @include breakpoint(mobile576) {
    padding: size(24) size(20) size(0) size(24);

    }
    &-content {

    }
    &-header {
        @include flex-center-between;
        padding-bottom: size(20);
        .dashboard-title {
            color: $headingText;
            @include font($primaryFont,24,medium,normal,30);
            @include breakpoint(mobile768) {
            @include font($primaryFont,32,medium,normal,30);
            }
        }
    }
    &-body {
        .pipeline {
            background: $white;
            @include radius(10);
            box-shadow: $box-shadow-1;
            max-height: size(480);
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: size(12);
            }
            &::-webkit-scrollbar-track {
                background: #D0D5DD; 
                @include radius(10);
            }
            &::-webkit-scrollbar-thumb {
                background-color: $white;
                @include border(solid,4,transparent);
                border-radius: size(10);
                background-clip: content-box;
            }

            &-header {
                @include flex-center-between;
                @include border-single(bottom,solid,1,$headerborder);
                padding: size(14);
                min-height: size(80);
                @include breakpoint(mobile576) {
                    padding: size(18);
                }

                .left-content {
                    @include flex;
                    gap: size(10);
                    flex-wrap: wrap;
                    @include font($primaryFont,18,medium,normal,24);
                    @include breakpoint(mobile576) {
                        gap: size(20);
                    } 

                    .title {
                        color: $headingText;
                        @include font($primaryFont,18,medium,normal,24);
                        @include breakpoint(mobile576) {
                        @include font($primaryFont,22,medium,normal,27);

                        }
                    }
                }
                .right-content {
                    .viwe-link {
                        color: $primary;
                        @include font($primaryFont,12,normal,normal,20); 
                        @include breakpoint(mobile576) {
                        @include font($primaryFont,14,normal,normal,20); 

                        }


                    }
                }
            }
            &-body {
             position: relative;
             padding: size(12) size(24);
                .pipeline-table {
                    overflow-x: scroll;
                    // margin-left: 5em;
                    overflow-y: visible;
                    padding: 0;
                    margin-left: 14em;
                    &::-webkit-scrollbar {
                        height: size(12);
                    }
                    &::-webkit-scrollbar-track {
                        background: #D0D5DD; 
                        @include radius(10);
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: $white;
                        @include border(solid,4,transparent);
                        border-radius: size(10);
                        background-clip: content-box;
                    }
                } 
                table {
                    border-collapse: collapse;
                    border-spacing: 0;
                  }
                  
                  td,
                  th {
                    margin: 0;
                  
                    white-space: nowrap;
                    border-top-width: 0px;
                  } 
                  .headcol {
                    position: absolute;
                    width: 14em;
                    left: 24px;
                    top: auto;
                    /*only relevant for first row*/
                    margin-top: -1px;
                    /*compensate for top border*/
                    @include flex-column;
                    gap: size(4);
                    .title {
                        color: $headingText;
                        @include font($primaryFont,14,medium,normal,14);
                    }
                    .total {
                        color: $textPrimary;
                        @include font($primaryFont,12,normal,normal,12);
                    }
                  } 
                  .title-row {
                    :nth-child(1) {
                        text-align: left;
                    }
                    * {
                        color: $textPrimary;
                        @include font($primaryFont,12,medium,normal,12);
                        padding: 10px 0;
                        text-align: center;
                    }
                  }
            }
        }
    }
} 
.darkmode { 
    .dashboard {
        &-header {
            .dashboard-title {
                color: $white;
                @include font($primaryFont,24,medium,normal,30);
            }
        }
    }
}
