@use "../global" as *;
@use "../partials" as *;

/**======= HOME-BANNER =======**/

.dashboard {
    padding: size(14) size(14) size(0) size(14);
    @include breakpoint(mobile576) {
    padding: size(24) size(20) size(0) size(24);

    }
    &-content {

    }
    &-header {
        @include flex-center-between;
        padding-bottom: size(20);
        .dashboard-title {
            color: $headingText;
            @include font($primaryFont,24,medium,normal,30);
            @include breakpoint(mobile768) {
            @include font($primaryFont,32,medium,normal,30);
            }
        }
    }
    &-body {
        .pipeline {
            background: $white;
            @include radius(10);
            box-shadow: $box-shadow-1;
            @include h100;
            max-height: size(480);
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: size(12);
                display: none;
            }
            &::-webkit-scrollbar-track {
                background: #D0D5DD; 
                @include radius(10);
            }
            &::-webkit-scrollbar-thumb {
                background-color: $white;
                @include border(solid,4,transparent);
                border-radius: size(10);
                background-clip: content-box;
            }

            &-header {
                @include flex-center-between;
                @include border-single(bottom,solid,1,$headerborder);
                padding: size(14);
                min-height: size(80);
                @include breakpoint(mobile576) {
                    padding: size(18);
                }

                .left-content {
                    @include flex;
                    gap: size(10);
                    flex-wrap: wrap;
                    @include font($primaryFont,18,medium,normal,24);
                    @include breakpoint(mobile576) {
                        gap: size(20);
                    } 

                    .title {
                        color: $headingText;
                        @include font($primaryFont,18,medium,normal,24);
                        @include breakpoint(mobile576) {
                        @include font($primaryFont,22,medium,normal,27);

                        }
                    } 
                    .nice-select {
                        width: auto;
                        min-width: size(120);
                        @include font($primaryFont,12,medium,normal,36);
                        
                    }
                }
                .right-content {
                    .viwe-link {
                        color: $primary;
                        @include font($primaryFont,12,normal,normal,20); 
                        @include breakpoint(mobile576) {
                        @include font($primaryFont,14,normal,normal,20); 

                        }


                    }
                }
            }
            &-body {
             position: relative;
             padding: size(12) size(24);
               
               
            } 
        }

        .summery {
            .pipeline-body {
                @include flex-center;
                min-height: calc(100% - size(80));
            }
            .summery-wrapper {
                figure {
                    @include square(280);
                    img {
                        @include wh100;
                        object-fit: contain;
                    }
                }
            }
        }

        .mytask {
            .tasklist {
                @include list-vertical;
                gap: size(4);
                
                &-item {
                    
                    @include radius(10);
                    
                }
                &-link {
                    @include flex-between;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    border-bottom: 1px solid $headerborder;
                    @include border-single(bottom,solid,1,$headerborder);
                    @include border-single(top,solid,1,$headerborder);
                    @include border-single(right,solid,1,$headerborder);
                    @include border-single(left,solid,10,#FFD831);
                    
                }
            }
        }

        
    }
} 
.darkmode { 
    .dashboard {
        &-header {
            .dashboard-title {
                color: $white;
                @include font($primaryFont,24,medium,normal,30);
            }
        }
    }
}
