@use "../global" as *;
@use "../partials" as *;

// HEADER-SECTION
.header-section {
  position: sticky;
  top: 0;
  z-index: 10;
  background: $white;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
  .innerNav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: size(16) size(0);
    .logo {
      width: size(90);
      // height: size(36);
      @include breakpoint(mobile576) {
        width: size(124);
        height: size(36);
      }
      flex-shrink: 0;
    }

    .mobile-menu-btn {
      // padding: size(5);
      background: #e6eaf3;
      border: 1px solid #2f3643;
      @include radius(99999);
      height: size(26);
      width: size(26);
      svg {
        margin-top: size(-3);
      }
    }
    .offcanvas {
      max-width: size(300);
      .offcanvas-header {
        background-color: $white;
      }
      .offcanvas-body {
        border: none;
        padding: 0;
        background: transparent;
        border-radius: 0;
        .mobile-lists {
          display: flex;
          flex-direction: column;
          gap: size(10);
          .nav-list {
            padding: size(10);
            @include radius(8);
            background: #e6eaf3;
            .nav-link {
              color: #2f3643;
              leading-trim: both;
              text-edge: cap;
              font-family: $primaryFont;
              font-size: size(14);
              font-weight: 500;
              letter-spacing: 0.14px;
              text-transform: uppercase;
            }
            &.active {
              background: #4c6fff;

              .nav-link {
                color: $white;
              }
            }
          }
        }
      }
    }
    .navigation-inner {
      .nav-lists {
        gap: size(20);
        @include breakpoint(desktop1200) {
          gap: size(40);
        }
        .nav-list {
          .nav-link {
            color: #2f3643;
            leading-trim: both;
            text-edge: cap;
            font-family: $primaryFont;
            font-size: size(14);
            font-weight: 500;
            letter-spacing: 0.14px;
            text-transform: uppercase;
            transition: all ease 0.35s;
            @include hover {
              color: #4c6fff;
            }
          }
          .active {
            color: #4c6fff;
          }
        }
      }
    }

    .nav-btns {
      gap: size(10);
      @include breakpoint(desktop1200) {
        gap: size(20);
      }
      align-items: center;

      .nav-btn {
        .nav-signIn,
        .nav-getStarted {
          display: inline-flex;
          align-items: center;
          padding: size(7) size(8);
          font-size: size(14);
          @include breakpoint(mobile576) {
            font-size: size(16);
            padding: size(10) size(13);
          }
          @include breakpoint(desktop1200) {
            padding: size(18) size(26);
          }
          @include radius(8);
          font-family: $primaryFont;
          color: #2f3643;

          text-transform: uppercase;
          transition: all ease 0.35s;
          &:hover {
            background: #4c6fff;
            color: $white;
            font-weight: 600;
            letter-spacing: -0.09px;
          }
        }
        .active {
          background: #4c6fff;
          color: $white;
          font-weight: 600;
          letter-spacing: -0.09px;

          &:hover {
            background: #273d97;
          }
        }
      }
    }
  }
}

// HERO-SECTION
.hero-section {
  background: #4c6fff;
  background-image: url("../../landing-page/assets/images/herobg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: size(40) 0;
  @include breakpoint(mobile576) {
    padding: size(100) 0;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    .hero-title {
      font-size: size(30);

      @include breakpoint(mobile576) {
        font-size: size(48);
      }

      @include breakpoint(mobile768) {
        font-size: 64px;
      }

      color: #fff;
      text-align: center;
      font-family: $secondaryFont;

      font-weight: 900;
      line-height: 130%;
      text-transform: capitalize;
      max-width: 1039px;
      margin: 0 auto;
    }
    .hero-description {
      max-width: 759px;
      margin: 0 auto;
      color: #fff;
      text-align: center;
      leading-trim: both;
      text-edge: cap;
      font-family: $primaryFont;
      font-size: 17px;

      line-height: 28px; /* 164.706% */
      margin-bottom: 0;
    }

    .hero-img {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: size(15);
      gap: 1rem;
      border-radius: 24px;
      border: 1.2px solid #fff;
      background: rgba(255, 255, 255, 0.24);
      box-shadow: -10px 10px 80px 0px rgba(0, 0, 0, 0.06);
      backdrop-filter: blur(4px);
      img {
        @include radius(16);
      }
    }
  }
}

// WHY CHOOSE US SECTION
.why-choose-us-section {
  background-image: url("../../landing-page/assets/images/WHY-CHOOSE-US.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: size(60) 0;
  @include breakpoint(mobile576) {
    padding: size(186) 0;
  }
  .why-choose-us-content {
    overflow-x: hidden;

    .why-choose-us-left {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      gap: size(24);
      .sub-title {
        display: inline-flex;
        padding: size(10) size(16) size(6) size(16);
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: size(50);
        background: rgba(243, 76, 74, 0.1);
        color: #f34c4a;
        font-family: $secondaryFont;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        text-transform: capitalize;
      }
      .title {
        color: var(--First-text-color, #101828);
        font-family: $primaryFont;
        font-size: size(36);

        font-weight: 600;
        line-height: 140%; /* 50.4px */
        text-transform: capitalize;
        span {
          color: #4c6fff;
        }
      }
      .description {
        color: var(--2nd-text-color, #2f3643);
        font-family: $primaryFont;
        font-size: size(18);

        line-height: 167%; /* 30.06px */
        letter-spacing: -0size (36);
        margin-bottom: 0;
        // max-width: 100%;
        // @include breakpoint(tab992) {
        //   max-width: size(413);
        // }
      }
    }

    .why-choose-us-right {
      .why-choose-us-card {
        border-radius: 24px;
        background: #fff;
        box-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.04);
        padding: size(32) size(24);
        display: flex;
        flex-direction: column;
        gap: size(36);
        .icon {
          svg {
            width: 48px;
            height: 48px;
            flex-shrink: 0;
          }
        }
        .title {
          color: var(--First-text-color, #101828);
          font-family: $primaryFont;
          font-size: size(17);
          @include breakpoint(desktop1200) {
            font-size: size(24);
          }

          font-weight: 600;
          line-height: normal;
          text-transform: capitalize;
        }
        .description {
          color: #2f3643; /* $primaryFont/Regular/18 */
          font-family: $primaryFont;
          font-size: size(18);

          line-height: 28px; /* 155.556% */
          margin-bottom: 0;
        }
      }
    }
  }
}
// job-posting-section
.job-posting-section {
  background: linear-gradient(
    -65deg,
    rgba(18, 183, 106, 0.15) 4.06%,
    rgba(255, 173, 30, 0.15) 21.56%,
    rgba(255, 95, 143, 0.15) 36.45%,
    rgba(211, 252, 255, 0.15) 51.81%,
    rgba(178, 231, 231, 0.15) 76.02%,
    rgba(105, 65, 198, 0.15) 97.15%
  );
  padding: size(60) 0;
  @include breakpoint(mobile576) {
    padding: size(186) 0;
  }
  .job-posting-content {
    overflow-x: hidden;
    .job-posting-left {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title {
        color: var(--First-text-color, #101828);
        font-family: $primaryFont;
        font-size: size(36);

        font-weight: 600;
        line-height: 140%; /* 50.4px */
        text-transform: capitalize;
        span {
          color: #4c6fff;
        }
      }
      .description {
        color: var(--2nd-text-color, #2f3643);
        font-family: $primaryFont;
        font-size: size(18);

        line-height: 167%; /* 30.06px */
        letter-spacing: -0size (36);
        margin-bottom: 0;
        max-width: 100%;
        @include breakpoint(tab992) {
          max-width: size(456);
        }
      }
    }
    // .job-posting-right {
    // }
  }
}

// job-overview
.job-overview-section {
  background-image: url("../../landing-page/assets/images/Job-Overview-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: size(60) 0;
  @include breakpoint(mobile576) {
    padding: size(186) 0;
  }
  padding: size(60) 0;
  @include breakpoint(mobile576) {
    padding: size(186) 0;
  }
  .job-overview-content {
    overflow-x: hidden;
    .job-overview-left {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title {
        color: var(--First-text-color, #101828);
        font-family: $primaryFont;
        font-size: size(36);

        font-weight: 600;
        line-height: 140%;
        text-transform: capitalize;
        span {
          color: #4c6fff;
        }
      }
      .description {
        color: var(--2nd-text-color, #2f3643);
        font-family: $primaryFont;
        font-size: size(18);

        line-height: 167%;
        letter-spacing: -0size (36);
        margin-bottom: 0;
      }
    }

    .job-overview-right {
      .job-overview-img {
        border-radius: 24px;
        background: linear-gradient(
          303deg,
          rgba(246, 39, 101, 0.12) 2.07%,
          rgba(255, 95, 143, 0.12) 36.82%,
          rgba(115, 142, 252, 0.12) 76.01%,
          rgba(76, 111, 255, 0.12) 95.86%
        );
        padding: size(10);
        img {
          @include radius(16);
        }
      }
    }
  }
}
// feature section
.feature-section {
  background-image: url("../../landing-page/assets/images/feature-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  padding: size(60) 0;
  @include breakpoint(mobile576) {
    padding: size(186) 0;
  }
  .feature-content {
    display: flex;
    flex-direction: column;
    gap: size(30);
    @include breakpoint(mobile576) {
      gap: size(60);
    }
    .title {
      color: #101828;
      text-align: center;
      font-family: $primaryFont;
      font-size: size(20);
      @include breakpoint(mobile576) {
        font-size: size(36);
        line-height: size(50);
      }
      font-weight: 600;
      letter-spacing: -0.72px;
      max-width: size(996);
      margin: 0 auto;
      span {
        color: #4c6fff;
      }
    }
    // .feature-img {
    // }
  }
}

.recruiting-section {
  padding: size(30) 0;
  @include breakpoint(mobile576) {
    padding: size(80) 0;
  }
  .recruiting-content {
    display: flex;
    flex-direction: column;
    gap: size(24);

    .title {
      color: #101828;
      text-align: center;
      font-family: $primaryFont;
      font-size: size(20);
      @include breakpoint(mobile576) {
        font-size: size(36);
        line-height: size(50);
      }
      font-weight: 600;
      letter-spacing: -0.72px;
      max-width: size(996);
      margin: 0 auto;
      span {
        color: #4c6fff;
      }
    }
    .description {
      color: #2f3643;
      text-align: center;
      font-family: $primaryFont;
      font-size: size(16);
      line-height: 167%;
      max-width: size(771);
      margin: 0 auto;
    }
  }
}
// our-core-features-section
.our-core-features-section {
  background: #f5f7ff;
  padding: size(60) 0;
  @include breakpoint(mobile576) {
    padding: size(186) 0;
  }
  .our-core-features-content {
    .our-core-features-header {
      display: flex;
      flex-direction: column;
      gap: size(16);

      .sub-title {
        display: inline-flex;
        padding: size(10) size(20);
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 50px;
        background: rgba(255, 194, 36, 0.12);
        color: #ffc224;
        font-family: $secondaryFont;
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
      }
      .title {
        color: var(--First-text-color, #101828);
        text-align: center;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 50.4px */
        letter-spacing: -0.72px;
        text-transform: capitalize;
        span {
          color: #4c6fff;
        }
      }
      .description {
        color: var(--2nd-text-color, #2f3643);
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 167%; /* 30.06px */
        letter-spacing: -0.36px;
        max-width: size(639);
        margin: 0 auto;
      }
    }
    .our-core-features-card {
      margin-top: size(60);
      @include breakpoint(mobile576) {
        margin-top: size(100);
      }
      .our-core-features-img {
        img {
          width: 100%;
        }
      }
      .title {
        color: var(--Text-0, #101828);
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 66.667% */
        letter-spacing: -0.72px;
      }
      .description {
        color: #2f3643;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px; /* 168.75% */
        width: 100%;
      }
    }
  }
}
