@use "../global" as *;
@use "../partials" as *;

// HEADER-SECTION
.header-section {
  position: sticky;
  top: 0;
  z-index: 10;
  background: $white;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
  .innerNav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: size(16) size(0);
    .logo {
      width: size(90);
      // height: size(36);
      @include breakpoint(mobile576) {
        width: size(124);
        height: size(36);
      }
      flex-shrink: 0;
    }

    .mobile-menu-btn {
      // padding: size(5);
      background: #e6eaf3;
      border: 1px solid #2f3643;
      @include radius(99999);
      height: size(26);
      width: size(26);
      svg {
        margin-top: size(-3);
      }
    }
    .offcanvas {
      max-width: size(300);
      .offcanvas-header {
        background-color: $white;
      }
      .offcanvas-body {
        border: none;
        padding: 0;
        background: transparent;
        border-radius: 0;
        .mobile-lists {
          display: flex;
          flex-direction: column;
          gap: size(10);
          .nav-list {
            padding: size(10);
            @include radius(8);
            background: #e6eaf3;
            .nav-link {
              color: #2f3643;
              leading-trim: both;
              text-edge: cap;
              font-family: $primaryFont;
              font-size: size(14);
              font-weight: 500;
              letter-spacing: 0.14px;
              text-transform: uppercase;
            }
            &.active {
              background: #4c6fff;

              .nav-link {
                color: $white;
              }
            }
          }
        }
      }
    }
    .navigation-inner {
      .nav-lists {
        gap: size(20);
        @include breakpoint(desktop1200) {
          gap: size(40);
        }
        .nav-list {
          .nav-link {
            color: #2f3643;
            leading-trim: both;
            text-edge: cap;
            font-family: $primaryFont;
            font-size: size(14);
            font-weight: 500;
            letter-spacing: 0.14px;
            text-transform: uppercase;
            transition: all ease 0.35s;
            @include hover {
              color: #4c6fff;
            }
          }
          .active {
            color: #4c6fff;
          }
        }
      }
    }

    .nav-btns {
      gap: size(10);
      @include breakpoint(desktop1200) {
        gap: size(20);
      }
      align-items: center;

      .nav-btn {
        .nav-signIn,
        .nav-getStarted {
          display: inline-flex;
          align-items: center;
          padding: size(7) size(8);
          font-size: size(14);
          @include breakpoint(mobile576) {
            font-size: size(16);
            padding: size(10) size(13);
          }
          @include breakpoint(desktop1200) {
            padding: size(18) size(26);
          }
          @include radius(8);
          font-family: $primaryFont;
          color: #2f3643;

          text-transform: uppercase;
          transition: all ease 0.35s;
          &:hover {
            background: #4c6fff;
            color: $white;
            font-weight: 600;
            letter-spacing: -0.09px;
          }
        }
        .active {
          background: #4c6fff;
          color: $white;
          font-weight: 600;
          letter-spacing: -0.09px;

          &:hover {
            background: #273d97;
          }
        }
      }
    }
  }
}

// HERO-SECTION
.hero-section {
  background: #4c6fff;
  background-image: url("../../landing-page/assets/images/herobg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: size(40) 0;
  @include breakpoint(mobile576) {
    padding: size(100) 0;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    .hero-title {
      font-size: size(30);

      @include breakpoint(mobile576) {
        font-size: size(48);
      }

      @include breakpoint(mobile768) {
        font-size: 64px;
      }

      color: #fff;
      text-align: center;
      font-family: $secondaryFont;
      font-style: normal;
      font-weight: 900;
      line-height: 130%;
      text-transform: capitalize;
      max-width: 1039px;
      margin: 0 auto;
    }
    .hero-description {
      max-width: 759px;
      margin: 0 auto;
      color: #fff;
      text-align: center;
      leading-trim: both;
      text-edge: cap;
      font-family: Inter;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 164.706% */
    }

    .hero-img {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: size(15);
      gap: 1rem;
      border-radius: 24px;
      border: 1.2px solid #fff;
      background: rgba(255, 255, 255, 0.24);
      box-shadow: -10px 10px 80px 0px rgba(0, 0, 0, 0.06);
      backdrop-filter: blur(4px);
      img {
        @include radius(16);
      }
    }
  }
}
