@use "../../global" as *;
@use "../../partials" as *;



.offcanvas {
  height: 100vh;
  width: size(800) !important;


  &.offcanvas-top {
    border-bottom: 0;
  }

  &.offcanvas-bottom {
    border-top: 0;
  }

  &.offcanvas-start {
    border-right: 0;
  }

  &.offcanvas-end {
    border-left: 0;
  }

  &.offcanvas-start {
    border-right: 0;

    @include breakpoint(mobile576) {
      width: size(280);
    }
  }

  &-header {
    background-color: $offcanvasbg;
    
    .offcanvas-title {
      @include font($primaryFont,18,medium,normal,26);

    }
    .btn-close {
      @include setBgColor($white,$textPrimary);
      @include flex;
      gap: size(10);
      min-width: size(130);
      @include border(solid,1,$headerborder);
      align-items: center;
      @include font($primaryFont,12,medium,normal,12);
      // @include radius(0);
      // @include transitionsall;
      // padding: 0;
      // margin: 0;
      // @include square(16);
      // @include flex-center;
      // overflow: hidden;

      svg {
        // @include wh100;
      }

      @include hover {
        // opacity: 1;
        // @include rotate(180);

        // svg {
        //   path {
        //     stroke: $danger;
        //   }
        // }
      }
    }
  }

  &-body {
    margin: size(20);
    @include border(solid,1,$headerborder);
    @include radius(10);
    &::-webkit-scrollbar {
      background: transparent;
      width: size(8);
    }

    &::-webkit-scrollbar-thumb {
      // background: darken($primary, 25%);
      @include radius(8);
    }
  }

  .arrowbtn {
    cursor: pointer;
    position: absolute;
    left: size(-24);
    top: 50%;
  }

 
}


.applicant-offcanvas {
  .offcanvas {

    &-header {
     background: $offcanvasbg;
     
    }
    &-body {
      border: none;
      padding: 0;
      margin: 0;

      .offcanvas__info-cards {
        padding: size(14) size(18); 
        @include breakpoint(mobile576) {
         padding: size(25) size(30); 

        }
        @include flex-column;
        gap: size(20);
      }
    }
  }
}

.employee-offcanvas {
  .offcanvas {

    &-header {
     background: $offcanvasbg;
     @include flex-between;

     .header-left {
      @include flex;
      gap: size(16);

      .employee-thumb {
        @include square(68);
        overflow: hidden;
        @include radius(10);
        img {
          @include wh100;
          object-fit: cover;
        }
      }
      .employee-info {

        .designation {
          @include font($primaryFont,12,medium,normal,18);
          color: $textPrimary;
          span {
            color: $headingText;
          
          }
        }

        .department {
          @include font($primaryFont,12,medium,normal,18);
          color: $textPrimary;
          span {
            color: $headingText;
          
          }

        }
      }

     }

     .header-right {

      .right-buttons {
        @include flex;
        gap: size(10);

        .right-btn {
          @include square(38);
          @include border(solid,1,$headerborder);
          @include flex-center;
          @include radius(10);
          @include transitionsall;
          @include hover {
            background: darken($white,10%);
          }
        }
      }
     }
     
    }
    &-body {
      border: none;
      padding: 0;
      margin: 0;

      .offcanvas__info-cards {
        padding: size(14) size(18); 
        @include breakpoint(mobile576) {
         padding: size(25) size(30); 

        }
        @include flex-column;
        gap: size(20);
      }

      .offcanvas__info-card {
        border: none;
      }
    }
  }
}



.darkmode {
  .offcanvas {
    background: $lightDark;

    
  &-header {
    background-color: $shade-1;
    
    .offcanvas-title {
      color: $white;
    }
    .btn-close {
      @include setBgColor($lightDark,white);
      border-color: $textPrimary;
      align-items: center;
      @include font($primaryFont,12,medium,normal,12);  
    }
  }

  &-body {
    border-color: $textPrimary;
  }
  
   .arrowbtn {
    cursor: pointer;
    position: absolute;
    left: size(-24);
    top: 50%;
  }
  }

  .employee-offcanvas {
    .header-left {

      .employee-info {

        .designation {
          color: darken($white,20%);
          span {
            color: darken($white,10%);
          
          }
        }

        .department {
          @include font($primaryFont,12,medium,normal,18);
          color: darken($white,20%);
          span {
            color: darken($white,10%);
          
          }

        }
      }

     }

     .header-right {

      .right-buttons {
        .right-btn {
          border-color: $headingText;
          svg {
            path {
              fill:darken($white,30%);
            }
          }
          @include hover {
            background: darken($shade-1,10%);
          }
        }

       
      }
     }
  }



  
}