@use "../../global" as *;
@use "../../partials" as *;

.mytask {
    .nav{
        &.nav-tabs {
            @include radius(8);
            background: $headerborder;
            padding: size(4) size(4);
        }
        &-item {

        }
        &-link {
            padding: size(8) size(20);
            border: none;
            @include font($primaryFont,12,semibold,normal,20);
            color: $headingText;
            @include radius(8);
            @include breakpoint(mobile768) {
                padding: size(6) size(40);
            }
            &.active {
                color: $headingText;
            }
        }
    }
}

.jobtab {
    .nav{
        &.nav-tabs {

            // padding: size(14) size(4);
            border: none;
            gap: size(20);
        }
        &-item {

        }
        &-link {
          
            border: none;
            @include font($primaryFont,16,medium,normal,20);
            color: $textSecondary;
            @include flex;
            gap: size(10);
            padding: size(18) size(40);

            .count {
                padding: size(2) size(14);
                background: $headerborder;
                @include radius(25);
               @include font($primaryFont,12,bold,normal,20);


            }

            @include breakpoint(mobile768) {
                padding: size(18) size(40);
            }
            &.active {
                color: $headingText;
                @include border-single(bottom,solid,3,$primary);
                background: transparent;
                .count {
                    background: $primaryLight;
                    color: $primary;
                }
            }
        }
    }
}

.darkmode {  
    .mytask {
        .nav{
            &.nav-tabs {
                background: $darkPrimary;
                border: none;
            }
            &-item {
    
            }
            &-link {
                color: darken($white,40%);
               
                &.active {
                    color: $white;
                    background: $lightDark;
                }
            }
        }
    }
}
